:root {
    --main-color: rgb(156, 156, 156);
    --black: #13131a;
    --bg: #f4dcbd;
    --border: 0.5rem solid #000;
    --font-size: 10px;
}

html {
    font-size: var(--font-size);
}

* { /* RESETA AS CONFIGURAÇÕES PADRÕES */
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1500px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: none;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.header .section {
    border-bottom: var(--border);
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #000;
}

.navbar-a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.icons img {
    margin: 0;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.logo img {
    height: 100px;
    width: auto;
}