:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #000000;
    --border: 0.5rem solid rgb(0, 0, 0);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2 linear;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border); 
}

.header section {
    display: flex;
    align-items: center; /* VERTICAL */
    justify-content: space-between; /* HORIZONTAL */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.linkTopo {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #000;
}

.icons {
    color: #ffffff;
}